<div class="inputContainer">
<input id="{{id}}"
       type="{{type}}"
       title="{{title}}"
    {{#if disabled}}
       disabled
    {{/if}}
        value=""
       class="input {{class}}"/>
    <label for="{{id}}">
        {{placeholder}}
    </label>
</div>