<div class="chat">
    <div class="contacts">
    <a href="#profile" class="linkToProfile">Профиль</a>
        <div class="searchContainer">
            <input id="search" placeholder="Поиск"/>
            <label for="search"></label>
        </div>
        <ul>
            {{#each chats}}

                <li class="{{#if (isChatSelected @key)}}selectedChat{{/if}}" onclick="(function() {
                        window.selectedChatId = {{@key}}
                        window.dispatchEvent(new CustomEvent('selectedChatChange'))
                        })()">{{this.person.name}}</li>
            {{else}}
                <li class="empty">Список чатов пуст</li>
            {{/each}}
        </ul>
    </div>
    <div class="messages">
        {{#if selectedChat}}
            <ul>
                {{#each selectedChat.messages}}
                    <div class="message
                    {{#if (isMineMessage this.to)}}messageMine{{/if}}
                    {{#if this.attachments}} messageImage{{/if}}
                    ">
                        {{#if this.text}}
                            <p>{{this.text}}</p>
                        {{else}}

                        {{#each this.attachments}}
                        <img src="{{this.url}}"/>
                        {{/each}}

                        {{/if}}


                        {{#if this.read}}
                            <div class="readIcon"></div>{{/if}}
                        <div class="messageTime">{{this.dateTime}}</div>
                    </div>
                {{/each}}
            </ul>
        {{else}}
            <div class="centeredFlex">
                <p>Выберите чат чтобы отправить сообщение</p>
            </div>
        {{/if}}
    </div>
</div>