<div class="chat">
    <div class="contacts">
<div class="searchContainer">
<input placeholder="Поиск"/>
</div>
<ul>
{{#each chats}}
<li onclick="(function() {

window.selectedChatId = {{@key}}

window.dispatchEvent(new CustomEvent('selectedChatChange'))

})()">{{this.person.name}}</li>
{{else}}
<li class="empty">Список чатов пуст</li>
 {{/each}}
 </ul>
    </div>
    <div class="messages">
{{#if selectedChat}}
<ul>
    {{#each selectedChat.messages}}
    <p>{{this.text}}</p>
     {{/each}}
    </ul>
{{else}}
<div class="centeredFlex">
<p>Выберите чат чтобы отправить сообщение</p>
</div>
{{/if}}
    </div>
</div>